
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0a0a1a;
  color: white;
  line-height: 1.6;
}

.hero {
  background-image: url("images/photo-1505506874110-6a7a69069a08.avif");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero .overlay {
  background: rgba(29, 28, 28, 0.6);
  padding: 2rem;
  border-radius: 15px;
}

.hero h1 {
  font-size: 3rem;
  color: #ffcc70;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  background-color: #ffcc70;
  color: black;
  padding: 0.7rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}


section {
  padding: 4rem 2rem;
  text-align: center;
}

.intro img,
.galaxies img {
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  margin-top: 1.5rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}


.planets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.planet img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffcc70;
  box-shadow: 0 0 15px rgba(255, 204, 112, 0.4);
}

.planet h3 {
  margin-top: 0.5rem;
}


footer {
  background: #111;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}

